.central-card {
  padding: 32px;
  width: 450px;
  font-family: Roboto,arial,sans-serif;
}

.central-card > button {
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  background-color: #ff5a00;
  color: #fff;
  border: 0;
}

.header-button-primary {
  background-color: #6e0ad6;
  border: 0px;
  color: #fff;
  border-radius: 12px;
  width: 142px;
}

.header-button-secondary {
  background-color: transparent;
  border: 1px solid #6e0ad6;
  color: #6e0ad6;
  border-radius: 12px;
  width: 142px;
}

.error {
  font-size: 12px;
  color: #a50000;
}

.input {
  /* font-family: Roboto,arial,sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.fullscreen {
  height: 100vh;
}

.centered-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explanation {
  font-size: 16px;
  color: rgba(0,0,0,.54);
}

.form-link {
  color: #ff5a00;
  font-weight: 600;
}

a {
  text-decoration: none;
}